@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-brand-primary: #4B7B51;
  --color-brand-secondary: #012631;
  --color-brand-accent: #A6E587;
  --color-brand-dark: #070707;
  --color-brand-dark-teal: #2F4D55;
  --color-brand-gray-light: #AFBCBE;
  --color-brand-gray-medium: #829397;
  --color-brand-gray-dark: #586D73;
  --color-brand-white: #FEFEFE;

  --font-sans: var(--font-inter);
  --font-display: var(--font-space-grotesk);
  --font-mono: var(--font-jetbrains-mono);
}

:root {
  background-color: #F4F5F0;
  color: #070707;
}

/* Global Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #F4F5F0;
  border-left: 1px solid #AFBCBE;
}
::-webkit-scrollbar-thumb {
  background: #586D73;
  border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
  background: #012631;
}

@layer base {
  * {
    border-color: rgba(175, 188, 190, 0.3);
  }
}
